.App {
  text-align: center;
}
/* Search Page */
.search-page {
  padding: 20px;
}
.search-page input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}
.results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
/* BookShelf page */
.bookshelf-page {
  padding: 20px;
}
.bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Book Card */
.book-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  text-align: left;
}
.book-card h3 {
  margin: 0 0 10px;
}
.book-card p {
  margin: 0 0 10px;
}
.book-card button {
  padding: 5px 10px;
  border: none;
  background-color: greenyellow;
}
.book-card button:hover {
  border: 1px solid greenyellow;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
